/* Reinicio de estilos por defecto */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* Estilos generales */
body {
    text-align: center;
    font-family: 'sans-serif', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos del encabezado */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 70px;
}

/* Estilos de los productos */
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
/* Para el precio de los productos */
.price { 
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
